<h2 id="title">Welcome to Ember.js</h2>

Teste para t-model: {{t-model 'partner'}}<br/>
Teste para t-column: {{t-column 'partner' 'firstName'}}<br/>

{{#each models as |m|}}
	each t-model: {{t-model m}}<br/>
	{{#each columns as |c|}}
		each t-column: {{t-column m c}}<br/>
	{{/each}}
{{/each}}


{{outlet}}
